<!DOCTYPE html>
<html lang="en-us">

<head>
    <meta charset="UTF-8">
    <title>Game Scrape</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style>
        @import url('https://fonts.googleapis.com/css?family=Audiowide|Roboto');

        body {
            background: linear-gradient(rgb(131, 246, 246), 80%, rgb(173, 0, 248));
            font-family: 'Roboto', sans-serif;
        }

        .card-title, card-text {
            font-family: 'Audiowide', cursive;
        }

        .card-header {
            background: linear-gradient(white, 80%, rgb(56, 56, 56));
            )
        }

        .card-footer {
            background: linear-gradient(rgb(56, 56, 56), 20%, white);
        }

        h1 {
            font-family: 'Audiowide', cursive;
        }

        #wrapper {
            width: 960px;
            margin-left: auto;
            margin-right: auto;
        }

        #articles {
            display: inline-block;
            overflow: auto;
            width: 60%;
            height: 700px;
        }

        #notes {
            float: right;
            width: 30%;
        }

        textarea,
        input {
            display: block;
            width: 100%;
            background-color: rgb(255, 255, 255);
        }

        input {
            height: 36px;
            font-size: 24px;
        }

        textarea {
            height: 200px;
            font-size: 18px;
        }
    </style>
</head>

<body>
    {{{body}}}
</body>

</html>