<style>
  html {
    height: 100%;
  }
  
  h2 {
    font-family: 'Audiowide', cursive;
  }
</style>

<div class="card text-center">
  <div class="card-header">
  </div>
  <div class="card-body">
    <h1 class="card-title">Gamer Scrape</h1>
    <p class="card-text text-uppercase">All your games r belong to me...</p>
    <a href="/articles" class="btn btn-primary">See Results!</a>
  </div>
  <div class="card-footer text-muted">
  </div>
  <h2>{{message}}</h2>
</div>